.header{
    background-color: #00a7ff;
    min-height: 100px;
    box-sizing: border-box;
    padding: 50px;
    border-radius: 20px;
}

.footer{
    background-color: #00a7ff;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.log-form{
    border: solid 1px silver;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

.form-title{
    padding: 10px;
    font-weight: bold;
}

.switch-link{
    margin: 10px;
    display: block;
}