.header{
    background-color: #00a7ff;
    margin-bottom: 20px;
}

.header a {
    color: black;
}

.footer{
    background-color: #00a7ff;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 30px;
}